*{
	margin: 0;
	padding: 0;
}

#all{
	width: 504px;
	margin: 100px auto;
	position: relative;
}
#wrapper{
	width: 500px;
	border:1px solid #ccc;
	display: grid;
	grid-template-columns:repeat(10,1fr);
	grid-template-rows:repeat(10,50px);
}
#wrapper>div{
	border:1px solid #ccc;

}
#box{
	width: 50px;
	height: 40px;
	border-top:10px solid blue ;
	background:red;
	position: absolute;
	transform: rotate(0deg);
}

pre{
	margin: 20px;
	color: #0a0;
}
select{
	width: 160px;
	height: 26px;
	margin-left: 20px;
	border-radius:4px;
	border:1px solid #ccc;
}
button{
	width: 48px;
	height: 24px;
	border-radius:4px;
	color: #fff;
	background-color: #090;
	border:none;
}