
#sort_button,.input, .in,.out{
	background: #fff;
	border: 1px solid #e8e8e8;
	height:20px;
}
a{
	text-decoration:none;
	color:#000;
}
a:hover{
	color: #fc0000;
}
#left-out{
	margin:0 0 0 20px;
}
.in,.out{
	cursor:pointer;

}
#sort_button{
	margin: 0 0 0 20px;
}
#list{
	height:500px;
	width:550px;
	float: left;
}
.display{
	display: block;
	height: 20px;
	margin: 8px 8px;
	background-color: #f00;
	color: #fff;
	line-height: 20px;
	cursor:pointer;
}
.display:hover{
	background: #0f8b00;
}
#sort{
	height:1000px;
	width:550px;
	float: right;
}

